global:
  marketplace-ami: true
  owner: quickstart@amazon.com
  qsname: quickstart-splunk-enterprise
  regions:
    - ap-northeast-1
    - ap-northeast-2
    - ap-south-1
    - ap-southeast-1
    - ap-southeast-2
    - ca-central-1
    - eu-central-1
    - eu-west-1
    - eu-west-2
    - sa-east-1
    - us-east-1
    - us-east-2
    - us-west-1
    - us-west-2
  reporting: true
tests:
  defaults:
    parameter_input: defaults.json
    template_file: splunk-enterprise-master.template
    regions:
    - us-west-1
    - us-east-2